/*  your css code here. If applicable */
.hero{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.image{
	width:60%;
	height:240px;
	object-fit:cover;
}
.text-container{
	text-align:center;
	width:40%;
	margin-left:20px;
}
.explore-now-button{
	padding:5px;
	border:none;
	background-color:red;
	color:white;
	border-radius:4px;
	
}
